<template>
    <side-nav :pages="sideNavPages" :headerTitle="'Equações diofantinas'">
        <flex-layout slot="page-content" style="padding: 1.5rem 1.5rem 0 1.5rem" :direction="flexDirections.COLUMN">
            <card slot="content" class="s12 fade-in transition-fast" :heightFitContent="true">
                <flex-layout slot="content" :padding="paddingOptions.SMALL" :direction="flexDirections.COLUMN">
                    <span slot="content" class="title">Resolver equação</span>
                    <input-wrapper id="equacao" slot="content" placeholder="Insira aqui uma equação diofantina" :initialFocus="true">
                        <input id="equacao" v-model="equacao" type="text" slot="input" autocorrect="off" autocapitalize="off" spellcheck="false" />
                    </input-wrapper>
                    <block-layout slot="content">
                        <span slot="content">
                            <label>
                                <input name="group1" type="checkbox" v-model="somenteSolucoesPositivas" @change="encontrarSolucoes" />
                                <span>Somente soluções positivas</span>
                            </label>
                        </span>
                        <Button slot="content" class="right" name="Resolver" :callback="calcular" :usesKeyEnterEvent="true" />
                    </block-layout>
                </flex-layout>
            </card>
        </flex-layout>
        <flex-layout slot="page-content" :direction="flexDirections.ROW">
            <flex-layout slot="content" style="padding: 0 0.75rem 0 1.5rem; width: 50%" :direction="flexDirections.COLUMN">
                <card slot="content" v-if="solucaoGeral.x.length > 0" class="s12 fade-in transition-fast" :heightFitContent="true">
                    <flex-layout slot="content" :padding="paddingOptions.SMALL" :direction="flexDirections.COLUMN">
                        <span slot="content" class="title">Solução Geral</span>
                        <span slot="content" style="margin-bottom: 10px">
                            <span class="file-name-reference">x = {{solucaoGeral.x[0]}} + {{solucaoGeral.x[1]}}(k)</span>,
                        </span>
                        <span slot="content" style="margin-bottom: 1rem">
                            <span class="file-name-reference">y = {{solucaoGeral.y[0]}} - {{solucaoGeral.y[1]}}(k)</span>
                        </span>
                        <span slot="content" v-if="somenteSolucoesPositivas">Para k ∈ ℤ*</span>
                        <span slot="content" v-else>Para k ∈ ℤ</span>
                    </flex-layout>
                </card>
            </flex-layout>
            <flex-layout slot="content" style="padding: 0 1.5rem 0 0.75rem; width: 50%" :direction="flexDirections.COLUMN">
                <card slot="content" v-if="solucaoGeral.x.length > 0" class="s12 fade-in transition-fast" :heightFitContent="true">
                    <flex-layout slot="content" :padding="paddingOptions.SMALL" :direction="flexDirections.COLUMN">
                        <span slot="content" class="title">Soluções Específicas</span>
                        <div slot="content">
                            <div style="display: inline-block; margin: 5px" v-for="(k, index) in solucoes" v-bind:key="k">
                                <span class="file-name-reference">
                                    x: {{solucaoGeral.x[0] + (solucaoGeral.x[1] * k)}},
                                    y: {{solucaoGeral.y[0] - (solucaoGeral.y[1] * k)}}</span>
                                <span v-if="index < solucoes.length - 1">,</span>
                            </div>
                            <span v-if="!somenteSolucoesPositivas">e mais infinitas soluções...</span>
                        </div>
                    </flex-layout>
                </card>
            </flex-layout>
        </flex-layout>
    </side-nav>
</template>
<script lang="ts" src="./Home.ts" />