
// Early Variables
* {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

html {
    --main-font: 'Ubuntu', sans-serif;
    --main-font-color: black;

    font-size: .7rem;

    --primary-color: #2D68C4;
    --secondary-color: #11386B;
    --striper-color:  var(--primary-color);
    --icon-footer-color: rgb(143, 143, 143);
}

#app {
    overflow-x: hidden;
    background-color: whitesmoke;
}

::-webkit-scrollbar-track
{
	border-radius: 0;
}

::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb
{
    border-radius: 0;
    background-color: lightgray;
}

/* Utils */

.fit-to-one-line {
    white-space: pre; 
    overflow: hidden;
}

.center {
    margin: auto !important;
}

.width-fit-content {
    width: fit-content !important;
}

.height-fit-content {
    height: fit-content !important;
}

.title {
    color: #454545;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.title-nm {
    color: #454545;
    font-size: 1.6rem;
    margin: auto 0;
}

.trunc-3-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
    height: calc(4.8rem + 72px) !important;
}

.trunc-3-lines span {
    font-size: 1.6rem;
}

.pointer {
    cursor: pointer;
}

.noselect, .material-icons {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

span.file-name-reference {
    border-radius: 5px;
    color: black;
    background-color: #eaeaea;
    padding: 2px 5px;
    overflow: hidden;
    cursor: default;
}

span.span-1 {
    font-size: 1.1rem;
    color: #454545;
}

[type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid var(--primary-color) !important;
    border-bottom: 2px solid var(--primary-color) !important;
    top: -3px !important;
    left: -1px !important;
    width: 10px !important;
    height: 20px !important;
}