<template>
    <side-nav :pages="sideNavPages" :headerTitle="'Equações diofantinas'">
        <flex-layout slot="page-content" :padding="paddingOptions.SMALL" :direction="flexDirections.COLUMN">
            <card slot="content" class="s12 fade-in transition-fast" :heightFitContent="true">
                <flex-layout slot="content" :padding="paddingOptions.SMALL">
                    <div slot="content">
                        <span class="title">Sobre</span><br/><br/>
                        <span class="span-1">
                            Equações diofantinas - versão 0.0.1<br/>
                            Aplicação desenvolvida para a disciplina <span class="file-name-reference">Matemática Discreta II</span>.<br/>
                            O sistema foi projetado para a solução de equações diofantinas.
                        </span>
                    </div>
                </flex-layout>
            </card>
            <card slot="content" class="s12 fade-in transition-medium" style="margin-top: 10px" :heightFitContent="true">
                <flex-layout slot="content" :padding="paddingOptions.SMALL">
                    <div slot="content">
                        <span class="title">Tecnologias utilizadas</span><br/><br/>
                        <span class="span-1">
                            Para o desenvolvimento desta aplicação, foram utilizadas seguintes tecnologias Web: <br/>
                            <span class="file-name-reference">Vue.js</span>, 
                            <span class="file-name-reference">Typescript</span>, 
                            <span class="file-name-reference">Sass</span> e
                            <span class="file-name-reference">HTML</span>.
                        </span>
                    </div>
                </flex-layout>
            </card>
            <card slot="content" class="s12 fade-in transition-slow" style="margin-top: 10px" :heightFitContent="true">
                <flex-layout slot="content" :padding="paddingOptions.SMALL">
                    <div slot="content">
                        <span class="title">Funcionamento</span><br/><br/>
                        <span class="span-1">
                            As expressões devem ser informadas de forma reduzida no formato <span class="file-name-reference">Ax + By = C</span> ou <span class="file-name-reference">Ax - By = C</span>, sendo A, B e C números inteiros.<br/>
                            A equação, se estiver em um formato válido, será processada e as soluções serão exibidas na tela.
                        </span>
                    </div>
                </flex-layout>
            </card>
        </flex-layout>
    </side-nav>
</template>
<script lang="ts" src="./About.ts" />